* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 40px 0px 20px 0px;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  padding-top: 30px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: #3d3d3d;
  margin: 0px 0px 0px 45px;
  font-size: 12px;
}

header {
  background-color: #94D5EC;
  width: 100%;
  color: #3d3d3d;
  font-size: 14px;
}
header a:hover {
  text-shadow: 0 0.4px;
}
header .header-image {
  padding: 30px 0px 30px 0px;
  text-align: center;
}
header .header-image img {
  width: 80%;
}

.delivery-message {
  background-color: #272727;
  padding: 15px;
  padding-left: 25px;
  color: white;
}

.login-cart {
  padding-top: 30px;
}
.login-cart a {
  padding-top: 30px;
  text-decoration: none;
  color: #3d3d3d;
  margin: 0px 20px 0px 20px;
  font-size: 12px;
}
.login-cart a .cart-number {
  background-color: red;
  color: white;
  padding: 2px 7px 2px 7px;
  border-radius: 15px;
}

/* This hides the hamburger and its content */
.topnav {
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
}
main .dish {
  display: flex;
  flex: 1 1 40%;
}
main .dish .dish-image img {
  width: 100%;
}
main .dish .dish-image {
  width: 40%;
}
main .dish .dish-description {
  padding: 20px;
  width: 60%;
  text-align: justify;
}
main .dish .dish-description h1 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}

.dish:nth-child(3) {
  flex-direction: row-reverse;
}

.dish:nth-child(4) {
  flex-direction: row-reverse;
}

footer {
  width: 100%;
  background-color: #94D5EC;
  color: white;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  main {
    width: 100%;
  }
  main .dish {
    flex: 1 1 100%;
    margin: 10px 0;
  }
  main .dish .dish-description {
    padding: 1%;
  }
}
@media only screen and (max-width: 1112px) {
  .topnav {
    display: block;
    overflow: hidden;
    background-color: white;
    /* Style navigation menu links */
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav #myLinks a {
    color: #3d3d3d;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height: 20px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.089);
  }
  .topnav #myLinks .cart-number {
    background-color: red;
    color: white;
    padding: 2px 7px 2px 7px;
    border-radius: 15px;
  }

  nav {
    display: none;
  }

  /* Style the hamburger menu */
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 20px;
    padding: 10px;
  }

  .header-image img {
    width: inherit;
  }
}
@media only screen and (max-width: 450px) {
  header .header-image img {
    width: 100%;
  }

  main .dish:nth-child(1) {
    flex-direction: column;
  }
  main .dish:nth-child(1) .dish-image, main .dish:nth-child(1) .dish-description {
    width: 100%;
  }
  main .dish:nth-child(2) {
    flex-direction: column;
  }
  main .dish:nth-child(2) .dish-image, main .dish:nth-child(2) .dish-description {
    width: 100%;
  }
  main .dish:nth-child(3) {
    flex-direction: column;
  }
  main .dish:nth-child(3) .dish-image, main .dish:nth-child(3) .dish-description {
    width: 100%;
  }
  main .dish:nth-child(4) {
    flex-direction: column;
  }
  main .dish:nth-child(4) .dish-image, main .dish:nth-child(4) .dish-description {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
